<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="notesAutomation.Utilities.ExtentReportListener" />
	</listeners>
	<test name="Test">
		<classes>
			 <!-- <class name="notesAutomation.testCases.RegistrationTest"></class>-->
			<class name="notesAutomation.testCases.LoginTest"></class>
			<!-- <class name="notesAutomation.testCases.NotesTesting"></class>
			<class name="notesAutomation.testCases.NotesAddTesting"></class>-->
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->

<!-- New page need-->